html {
  background-color: #111;
  color: #333;
  font: bold italic 16px sans-serif; }

.grid {
  margin: auto;
  width: 500px; }

.item {
  display: inline-block;
  background-color: #000;
  height: 60px;
  width: 60px;
  margin: 25px;
  transition-duration: 5s;
  transition-timing-function: cubic-bezier(0, 0.82, 0.72, 0.67); }

.item:hover {
  background-color: #f1c40f; }
